<nav class="navbar  navbar-expand-lg navbar-light bg-secondary my-nav" >
    <a class="navbar-brand mb-0 h1 logo" href="#"><span id="logo2">MEAL</span><span id="logo1">Tracker</span></a>
   
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto ">
            <li class="nav-item active">
               <a class="nav-link link1" href="#top" routerLink="meal" routerLinkActive="active" >Meals </a>
            </li>
            <li class="nav-item">
               <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active" >About</a>
              <!-- <a class="nav-link link2" href="#bottom">Add meal</a> -->
            </li>                       
        </ul>
    </div>
</nav>
