
<div class="container-fluid meal-body ">

    <h2 class="text-center  mt-4 heading1">Meal Calories Overview</h2>
    <a name="top"></a>
    <div class="row">
        <a name="top"></a>
        <div class="col-md-7">
            <h4 style="font-weight: bold;"> Add meal Description Form</h4><br><br> <a name="bottom"></a> 
            <app-form></app-form>
       </div>

        <div class="col-md-3" >
            <h4 style="font-weight: bold;"> Meal descriptions</h4> <a name="top"></a>
            <h5>All meals</h5><br>
            <div  *ngFor='let meal of meals'>
                <p>Name:  {{meal.name}}  </p>
                <p>Calories:  {{meal.calories}} </p>
                <p>Description: {{meal.detail}} </p>
                <button class="btn btn-secondary edit-btn">Edit</button>
                <button class="btn btn-secondary" (click)="deleteMeal(meal)" >Delete</button>
                <br><br> 
            </div>
       </div>

       <div class="col-md-2">
            <h4 style="font-weight: bold;">Calorie Category</h4><br>
            <div>
                <p>To display meals with calorie greater than 500</p>
                <button class="btn btn-secondary edit-btn" (click)='highCalorie()'>
                    High calorie
                </button><br><br>
                <p>To display meals with calorie lower than 500</p>
                <button class="btn btn-secondary" (click)='lowCalorie()'>
                    Low calories
                </button>
            </div>
       </div>      

    </div>  
        
</div>
